
/*------------------------ FOOTER HECHO CON SCSS --------------------- */

$letra : cjk-ideographic;
$dis : flex;

footer{
  
    margin: 20px auto; 
   padding: 5px; 

   background: #a27947;
  
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   

}

.piePagina{

   position: relative;
   padding: 20px;
   margin: 20px;
   width: 100px;

   /* grid-area: siguenos; */

   p{ display: $dis}

   ul li {
      list-style-type: $letra;
   }
   ul li a {

      &:hover{
         color: #6a7ccb;
         background-color: #d6af7e;
      }

      padding: 5px 20px;
      width: 100px;
      display: inline-block;
   }
  
   
   
   
}

