
/*------------------------ FOOTER HECHO CON SCSS --------------------- */

$letra : cjk-ideographic;
$dis-footer : flex;

footer{
  
    margin: 20px auto; 
   padding: 5px; 

   background: #a27947;
  
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   

}

.piePagina{

   position: relative;
   padding: 20px;
   margin: 20px;
   width: 100px;

   /* grid-area: siguenos; */

   p{ display: $dis-footer}

   ul li {
      list-style-type: $letra;
   }
   ul li a {

      &:hover{
         color: #6a7ccb;
         background-color: #d6af7e;
      }

      padding: 5px 20px;
      width: 100px;
      display: inline-block;
   }
     
}

/* ------------------------ FOOTER -- contenido ----------------------- */

.contenidoPagina2 {
   margin: 10px auto;
   padding: 20px;
   width: 1000px;
   /* text-align: center; */

   div {
      text-align: center;
      font-family: "Bebas Neue", cursive;
   }

   p {
      font-family: Arial, Helvetica, sans-serif;
   }

   ol {
      font-family: Arial, Helvetica, sans-serif;
   }


 }

 .contenidoPagina2--parrafo{
   width: 800px;
   margin: 10px auto;
 }
 
/* ---------------------- MODIFICANDO SIGUENOS (FOOTER) ----- */

.aboutDigital{
   align-items: center;
  display: grid;
  grid-template-columns: autofill;
  grid-template-rows: 200px 25px;
  justify-items: center;
   
   img {
      height: 150px;
      width: 200px;

   }

}









