/* ------------ queries ------------- */
@media all and (max-width: 920px) {
    .gridFooter {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 200px 250px;
      justify-content: center;
      align-items: center;
      justify-items: center;
      
    }
    .piePagina {
      justify-items: center;
     
    }
  
    .gridElegiTusProductos{
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 400px 200px 200px 400px;
      margin-bottom: 200px;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  
  
    
  }
  @media all and (max-width: 1254px) {
    .conte {
      height: 500px;
      width: 350px;
      box-shadow: 0 0 7px #111;
      margin: 30px 30px;
    }
    .boxes {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
      grid-template-rows: 450minmax px, auto;
      gap: 50px;
      justify-items: center;
      justify-content: space-around;
    }
  
    .contenidoPaginaQSyCC{
      display: grid;
      grid-template-columns: 300px auto;
      grid-template-rows: auto auto;
      justify-items: center;
    }
  
    
  
  }

  @media all and (max-width: 645px) {
    .grid-imagen {
      width: 350px;
      height: 400px;
    }
  
    .contenidoPaginaQSyCC iframe{
      width: 310px;
      height: 150px;
    }
  }
   
  
  