/*------------------------ INICIO QUIENES SOMOS y COMOCOMPRAR --------------------- */

.contenidoPaginaQSyCC {
    margin: 10px auto;
    /* padding: 20px; */
    width: 100%;
    /* text-align: center; */
    justify-items: center;

    div{
        text-align: center;
        font-family: "Bebas Neue", cursive;      
    }

    p{
        font-family: Arial, Helvetica, sans-serif;
    }

    ol {
        font-family: Arial, Helvetica, sans-serif;
    }

  }

.contenidoPaginaQSyCC--parrafo{
    width: 70%;
    margin: 10px auto;
}