
/* ---------------------------- INICIO ------------- */

.contenedorImagenes{
    display: flex;
    justify-content: space-around;
    
    width: 100%;
    
  

}

.titulo {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: bold;
   
}

.titulo--modificado:hover{
    color: #a27947;
}



/* -------------------------- MENU HEADER PRINCIPAL ------------------ */

 body{
    background-color: white;
    

 }

 .menu{
  

    width: 100%;
    margin: none;
    padding: none;
    /* background: #a27947; */
    
}


 .menu ul li{
     display: inline-block;
     list-style-type: none;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

 }

 .menu ul {
    background: #a27947;
 }

 .menu ul li a{
     padding: 30px 50px;
     display: inline-block;
 }

 .menu ul li:hover{
     display: inline-block;
     background-color: #d6af7e;

 }

 

 a{
     text-decoration: none;
     color: black;
 }

 a:hover{
     color: #6a7ccb;
     
     
 }

 .gridHeader{
    display: grid;
    justify-items: center;
    margin: 20px;

}

 /* ------------------------ FOOTER ----------------------- */


.contenidoPagina2 {
    margin: 10px auto;
    padding: 20px;
    width: 1000px;
    /* text-align: center; */
}

.contenidoPagina2 div{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

.contenidoPagina2 p{
    font-family: Arial, Helvetica, sans-serif;
}

.contenidoPagina2 ol{
    font-family: Arial, Helvetica, sans-serif;
}


.contenidoPagina2--parrafo{
    width: 800px;
    
    margin: 10px auto;
    
}

/* --------------- GRIDS --------------------------- */
.gridProductos{
    display: grid;
    /* columna = ancho */
    grid-template-columns: repeat(auto-fill, minmax(420px,1fr));
    /* fila = altura */
    grid-template-rows: minmax(310px,auto);
     
    grid-template-columns: repeat(auto-fill, minmax(540px,1fr));
    grid-template-rows: minmax(640px,auto); 

    gap: 100px;
    justify-items: center;
    justify-content: space-around;
}

.grid-item{
    height: 400px;
    width: 300px;
}

.grid-imagen{
    width: 500px;
    height: 600px;

}






/* ---------------------- PARA MODIFICAR SIGUENOS ----- */

.gridFooter {
    display: grid;
    grid-template-columns: 200px 900px;
    grid-template-rows: 250px ;

}

.aboutDigital{
    /* grid-area: aboutDigital; */
  align-items: center;
  display: grid;
    grid-template-columns: autofill;
    grid-template-rows: 200px 25px;

   justify-items: center;
    
    
}

.aboutDigital img{
    height: 150px;
    width: 200px;
    
    
   
}

/* FIN SIGUENOS */

/* ---------------------------- PRODUCTOS ------------------- */
.conte{
    height: 550px;
    width: 400px;
    box-shadow:0 0 7px #111 ;
    margin: 30px 30px;
}
.conte .card{
    height: 200px;
    width: 100%;
    margin-bottom: 170px;
}
.card img{
    margin: auto;
    display: block;
}
.conte .prendaSuperior img{
    height: 330px;
    width: 300px;
}
.conte .prendaSuperior{
     /* background-color: #111; */
     background-color: #f18b6d;
     background-image: linear-gradient(315deg, #df8e76 0%, #e4c158 74%);
}

.conte .prendaInferior img{
    height: 330px;
    width: 300px;
}
.conte .prendaInferior{
     /* background-color: #111; */
     background-color: #f18b6d;
background-image: linear-gradient(315deg, #df8e76 0%, #e4c158 74%);
}

.conte .Calzado img{
    height: 330px;
    width: 300px;
}
.conte .Calzado{
     /* background-color: #111; */
     background-color: #f18b6d;
background-image: linear-gradient(315deg, #df8e76 0%, #e4c158 74%);

}

.card img:hover{
    
    /* transform: translateY(-10px); */
    animation: aparecer 2s
    
}

.conte .card{
    transition: height 12s , width 20s;
}

.boxes{

    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px,1fr));
    grid-template-rows: minmax(350px,auto);

    gap: 100px;
    justify-items: center;
    justify-content: space-around;
    

}



.informacion{
    height: 80px;
    width: 100%;
}
.informacion h1{
    font-family: sans-serif;
    font-size: 1.2em;
    text-align: center;
    color: #333;
    margin-bottom: -10px;
}
.informacion p{
    text-align: center;
    font-family: sans-serif;
    font-size: .9em;
    color: #555;
}

@keyframes aparecer {
    0% {
        opacity: 0;

    }
    
    100%{
        opacity: 1;
    }
    
}

/* ------------------------------- FIN PRODUCTOS ----------------- */



/* ------------ queries ------------- */

@media all and (max-width: 920px) {

    .gridFooter{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 200px 250px;
        justify-content: center;
        align-items: center ;

    }

    .piePagina{

      justify-items: center;

    }
    
}

@media all and (max-width: 1254px) {
    .conte{
        height: 500px;
        width: 350px;
        box-shadow:0 0 7px #111 ;
        margin: 30px 30px;
    }

    .boxes{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(370px,1fr));
        grid-template-rows: 450minmax(px,auto);

        gap: 50px;
        justify-items: center;
        justify-content: space-around;
    }
}

@media all and (max-width: 645px) {

    .grid-imagen{
        width: 350px;
        height: 400px;
    
    }


}

/* MENU PRINCIPAL INDEX + PRODUCTOS BOOTSTRAP */



.masinformacion {
    display: flex;
    justify-content: center;
 }
 
 .btn-primary:hover{
     background-color: #d6af7e;
     border-color:#d6af7e;
     color: #6a7ccb;
     
 }
 
 .btn-primary{
     background-color: #a27947;
     border-color: #a27947;
     color: black;
 }
 
 .btn-primary:focus {
     background-color: #d6af7e;
     border-color:#d6af7e;
     color: #f4f6ff; 
     box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
 }
 
 .btn-secondary{
     background-color: #a27947;
     border-color: #a27947;
     color: black;
 }
 
 .contenedor-carrusel{
     display: flex;
     justify-content: center;
     height: 500px;
     width: 450px;
 }

