// mapa

$fuentes: (
    fuente-quienesSomos1: ""Bebas Neue", cursive;",
    fuente-quienesSomos2:"font-family: Arial, Helvetica, sans-serif;",
    fuente-menuHeader: ""Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;",
    fuente-footer:"'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;",
)


